<div class="row">
    <div class="col-md-12 bg-white rounded">
        <div class="d-flex justify-content-around">
            <img class="logo" src="assets/icons/flag.png">
            <div class="container text-center header">
                <h2 class="titulo">ELECCIONES GENERALES 2020</h2>
                <h3 class="subtitulo">CÓMPUTO EN TIEMPO REAL</h3>
            </div>            
            <img class="logo" src="assets/eleccionesLogo.png">
        </div>
    </div>
    <div class="col-md-12">
        <router-outlet></router-outlet>        
    </div>    
</div>