<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-around">
            <img class="logo" src="assets/logoOEP.png">
            <div class="container text-center header">
                <h2 class="titulo">ELECCIONES GENERALES 2020</h2>
                <h3 class="subtitulo">SISTEMA DE CONSOLIDACIÓN OFICIAL DE RESULTADOS DE CÓMPUTO EN PROCESO </h3>
            </div>            
            <img class="logo" src="assets/eleccionesLogo.png">
        </div>
    </div>    
    <div class="col-md-12 bt-2">
        <router-outlet></router-outlet>        
    </div>
</div>