<div class="row pt-5" *ngIf="!loading">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-12">
        <div class="chart-wrapper bg-white rounded p-1">
            <canvas
                width="1000px"
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
            >
            </canvas>
        </div> 
        <!-- <form role="form">
            <div class="card-body row">
                <div class="form-group col-md-6">
                    <label>Nivel</label>
                    <select class="form-control">
                        <option>Mundial</option>
                        <option>Exterior</option>
                        <option>Nacional</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Representante</label>
                    <select class="form-control" disabled>
                        <option>Presidente</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>País</label>
                    <ng-select [items]="list"
                        bindLabel="name"
                        autofocus
                        bindValue="id">
                    </ng-select>
                </div>
                <div class="form-group col-md-6">
                    <label>Departamento</label>
                    <ng-select [items]="departaments"
                        bindLabel="nombre"
                        autofocus
                        bindValue="idDepartamento">
                    </ng-select>
                </div>
                <div class="form-group col-md-6">
                    <label>Provincias</label>
                    <ng-select [items]="list"
                        bindLabel="name"
                        autofocus
                        bindValue="id">
                    </ng-select>
                </div>
                <div class="form-group col-md-6">
                    <label>Municipio</label>
                    <ng-select [items]="list"
                        bindLabel="name"
                        autofocus
                        bindValue="id">
                    </ng-select>
                </div>
                <div class="form-group col-md-6">
                    <label>Localidad</label>
                    <ng-select [items]="list"
                        bindLabel="name"
                        autofocus
                        bindValue="id">
                    </ng-select>
                </div>
                <div class="form-group col-md-6">
                    <label>Ciudad</label>
                    <ng-select [items]="list"
                        bindLabel="name"
                        autofocus
                        bindValue="id">
                    </ng-select>
                </div>
                <div class="form-group col-md-6">
                    <label>Recinto</label>
                    <ng-select [items]="list"
                        bindLabel="name"
                        autofocus
                        bindValue="id">
                    </ng-select>
                </div>
            </div>
        </form> -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-12">
        <table class="table table-bordered bg-white rounded p-1">
            <thead>
              <tr class="tbl-header">
                <th scope="col">Detalle</th>
                <th scope="col">Total</th>
                <th scope="col">Porcentaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of table">
                <td>{{item.nombre}}</td>
                <td>{{item.valor}}</td>
                <td *ngIf="item.porcien !== null">{{item.porcien}} %</td>
                <td *ngIf="item.porcien == null">---</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center rounded-pill bg-white mt-3 mb-5"><h2>{{updateDate}}</h2></div>
</div>
<div (window:resize)="onResize($event)"></div>
<ngx-spinner></ngx-spinner>